body{
    background-color:  rgb(255, 247, 189);
}

.nav-color {
  background-color: #2b2b2b;
}

.jumbotron {
  padding-top: 2rem;
  background-color: rgb(104, 143, 88);
}

.c1 {
  background-image: url(./img/finishing.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  min-height: 100vh;
  margin: 0;
}

.card-bg-1{
    background-color: antiquewhite;
}

.nav-color-ftr {
  background-color: #2b2b2b;
  min-height: 200px;
}