body {
  min-height: 1000px;
  background-color: rgb(13, 206, 219); 
}

p{
  color: rgb(95, 93, 93);
}

/* nav setting */
.nv-css{
background-color: rgba(41 47 86)
}


/* jq 1*/
.j1 {
  background-image: linear-gradient(rgb(0 115 152), rgba(0, 191, 166, 0.774)), url(/img/c1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
}


