
p{
  color: rgb(22, 20, 20);
}

/* nav setting */
.nv-css{
background-color: rgba(41 47 86)
}

/* skil setting */
.skil{
  background-color: rgb(9, 204, 218);
}

/* jq 1*/
.j1 {
  background-image: linear-gradient(rgb(0 115 152), rgba(0, 191, 166, 0.774)), url(/img/c1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
}

article{
   background-color: rgb(29, 129, 236); 
  min-height: 500px;
}


